Options -Indexes

DirectoryIndex public/index.php

RewriteEngine On
RewriteBase /urlMonster

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-s
RewriteRule . public/index.php [L,QSA]